overview {
    position: relative;
    height:120px;
}   
    
#top {
    clear:both;
    position:relative;
    top: 40px;
    width: 1330px;
    height: auto;
}

#top ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}   

#top ul li {
    list-style-type: none;
    float:left;
    height:50px;
    border-bottom: 1px solid white;
}

#top ul li a:link, a:visited {
    display: block;
    width: auto;
    height:auto;
    margin-right:25px;
    margin-left:25px;
    text-align:center;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
}

li.home {
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: white;
    border-right:1px dotted black;
}

li.home:hover {
    background: #99FFC6;
}

li.home a {
    color:#0284FF;
    padding-top:5px;
    font-size:35px;
    text-shadow: 2px 2px 4px rgba(67, 184, 51, 0.45);
}

li.home a:hover {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
    font-size: 17;
}

li.borderright {
    border-right:1px dotted black;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: #fff;
}

li.borderright:hover {
    background: #99FFC6;
    color: white;
}

li.borderright a{
    padding-top: 15px;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
}

li.borderright a:hover {
    font-size: 17;
    color: #7A7A7A;
}


li.borderleft {
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: #fff;
}

li.borderleft:hover {
    background: #99FFC6;
    color: white;
}

li.borderleft a {
    padding-top: 15px;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
}

li.borderleft a:hover {
    color: #7A7A7A;
    font-size: 17;
}

#body {
    position: relative;
    height: 700px;
    top:80px;
}

h3 {
	margin-bottom: 15px;
	font-family: Raleway, sans-serif;
}

# body li {
	list-style-type: square;
}

.right {
	float: right;
	height: 310px;
	right:1%;
	position:relative;
	width:25%;
}

.right p {
    position: relative;
    top: 220px;
    margin-left: 18px;
    font-family: Raleway, sans-serif;
    font-size: 11px;
    display: block;
    color: #025DFF;
    text-align:justify;
}


.right img {
  position:absolute;
  left: 20%;
  right:10%;
  top: 30px;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.right img.picturetop:hover {
  opacity:0;
}

img.picturebottom {
    border: 1px groove black;
    width:170px;
    height:170px;
}

img.picturetop {
    clip: rect(0px, 210px, 400px,0px);
    border: 1px groove black;
    width:170px;
    height:170px;
}

.left {
	float: left;
    width: 68%;
    height: 600px;
    margin-left: 45px;
    border-right: 1px dotted #00FFFF;
    z-index:1;
    border-radius:1px;
    background-color:white;
}

#text {
    margin-right: 5%;
    margin-left: -10px;
    position:absolute;
    top:-15px;
    width:60%;
    z-index:1;
}

.left p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Raleway, sans-serif;
	color: #000000;
	font-size: 15px;
}

p.indent {
    padding-top:20px;
}

p.justify {
    padding-top:20px;
    text-align:justify;
}

#footer {
	position: relative;
    height: 35px;
    clear: both;
    top: 25%;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    border-top: 2px ridge #FF009E;
    width: 100%;
    border-radius: 1px;
}

#footer p {
    position: relative;
    padding-top: 5px;
    margin-left:45px;
}

#twitter {
    margin-right: 80%;
    margin-top: 1%;
}


h5 {
	margin-left: 5px;
	font-family: Raleway, sans-serif;
}


