
.overview {
    position: relative;
    height:120px;
}	
	
#top {
	clear:both;
	position:relative;
	top: 40px;
	width: 1330px;
	height: auto;
}

#top ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}	

#top ul li {
	list-style-type: none;
	float:left;
	height:50px;
    border-bottom: 1px solid white;
}

#top ul li a:link, a:visited {
    display: block;
	width: auto;
	height:auto;
	margin-right:25px;
	margin-left:25px;
	text-align:center;
	font-family: Raleway, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	position:relative;
}

li.home {
	transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: white;
    border-right:1px dotted black;
}

li.home:hover {
    background: #99FFC6;
}

li.home a {
    color:#0284FF;
    padding-top:5px;
    font-size:35px;
    text-shadow: 2px 2px 4px rgba(67, 184, 51, 0.45);
}

li.home a:hover {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
    font-size: 17;
}

li.borderright {
    border-right:1px dotted black;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: #fff;
}

li.borderright:hover {
    background: #99FFC6;
    color: white;
}

li.borderright a{
    padding-top: 15px;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
}

li.borderright a:hover {
    font-size: 17;
    color: #7A7A7A;
}


li.borderleft {
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
    background: #fff;
}

li.borderleft:hover {
    background: #99FFC6;
    color: white;
}

li.borderleft a {
    padding-top: 15px;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), .5px 1px 0px rgba(207, 207, 207, 0.8);
    color: #8A8A8A;
}

li.borderleft a:hover {
    color: #7A7A7A;
    font-size: 17;
}

#resume {
    position: relative;
}
    
#body {
    position: relative;
    left: 55px;
    top:-10px;
    width:800px;
    margin-bottom: 30px;
}

#body li {
  text-align:justify;
  font-family: Raleway, sans-serif;
}

.arrow li {
    background-image: url(http://www.christineschoellhorn.com/Picture-arrow.png);
    background-repeat: no-repeat;
    position: relative;
    left: -50px;
    vertical-align: text-top;
    list-style-type: none;
    padding-left: 19px;
    height: 25px;
    padding-top: 5px;
    text-indent: 19px;
    font-family: Raleway, san-serif;
    font-size: 18px;
    margin-top: 30px;
    bottom: -10px;
    cursor: pointer;
}


.heading {
    left: 25px;
    position: relative;
    font-weight: normal;
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
    height: 45px;
    width: 80%;
    top:20px;
}

.heading2 {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    font-family: Raleway, sans-;
    color: #0284FF;
    height: 60px;
    bottom: -40px;
    left:-10px;
}


p.indent {
    padding-top:20px;
}

p.justify {
    padding-top:20px;
    text-align:justify;
}

.education {
    position: relative;
    left: 45px;
    font-family:Raleway, sans-serif;
    font-size: 15px;
    margin-bottom:60px;
    width:800px;
}

.education {
 padding-left: 25px;
}

.skills {
    position: relative;
    left: 45px;
    top: 30px;
    font-family:Raleway;
}

.skills li{
list-style-type: none;
position: relative;
background-repeat: no-repeat;
height: 27px;
padding-top: 6px;
}

.skills p{
    border-bottom: 1px dashed black;
    width: 30%;
}

.skills h3{
    text-transform:uppercase;
}

.oneStar{
    background-image: url(http://www.christineschoellhorn.com/Picture-star1.png);
    padding-left: 35px;
}

.twoStars{
    background-image: url(http://www.christineschoellhorn.com/Picture-star2.png);
    padding-left: 70px;
}

.threeStars{
    background-image: url(http://www.christineschoellhorn.com/Picture-star3.png);
    padding-left: 105px;
}

.fourStars{
    background-image: url(http://www.christineschoellhorn.com/Picture-star4.png);
    padding-left: 135px;
}


#footer {
	position: relative;
	width:100%;
	top:100px;
	height: 35px;
	clear: both;
	font-family: Raleway, sans-serif;
	font-size: 12px;
	text-align: center;
	border-top: 2px ridge #FF009E;
	border-radius:1px;
}

#footer p {
	position: relative;
}


h4 {
	font-family: Raleway, sans-serif;
    font-weight: normal;
    padding-left: 25px;
    height: 30px;
    margin: 5px;
    font-size: 17px;
}

h3 {
	font-family: Raleway, sans-serif;
    height: 30px;
    position: relative;
    font-size: 17px;
    padding-left: 25px;
    margin-left:3px;
}


.ui-state-focus:focus { 
    outline:none 
}

.arrow.ui-accordion-header-active li{ 
    background-image: url(http://www.christineschoellhorn.com/Picture-arrow.down.png);
}

